body, html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(100,100,100,0.2);
    background: url("../images/mainbackground2.jpg");
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: white;
    text-shadow: black;
}

.bg {
    position: relative;
    /* The image used */
    background-image: url("../images/mainbackground2.jpg");

    /* Full height */
    height: 100%;
    background-attachment:fixed ;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav{
    top: 0%;
    position: fixed;
    padding: 10px;
    width: 100%;
    background: rgba(0,0,0,0.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3) ;
    z-index: 5;
}

.logo{
    margin-left:65px;
    display: inline-block;
    float: left;
}


.flex {
    display: flex;
    align-items: left;
    justify-content: flex-end;
    padding-right:50px;
    padding-top: 25px;
}

a.bttn {
    color: black;
    text-decoration: none;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s ease all;
}
a.bttn:hover {
    color: #FFF;
}
a.bttn:focus {
    color: #FFF;
}
.bttn {
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    width: 100px;
    font-weight: bold;
    padding: 10px 0px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
}
.bttn:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: rgba(100,100,100,0.5);
    z-index: -2;
}
.bttn:hover:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}
.bttn:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}
.welcomeNote{
    padding: 10px;
    flex: 1;
}
section{
    width: 100%;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex: 1;
}
.sectionItem{
    width: 40%;
    margin: auto;
}

section .subs{
    font-size: 1.5rem;
    padding: 1.25rem 2.5rem;
    background-color: black;
    border: 2px solid black;
    color: #ffffff;
    font-weight: 100;
    -webkit-border-radius: 3px;
    border-radius: 25px;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.26), 0 5px 9px rgba(0, 0, 0, 0.2);

}

section .subs:hover {
    background: none;
    color: black;
    border-color:black;
}

.formPanel{
    width: 80%;
    background: url("../images/formBg.jpg") repeat fixed;
    background-size: cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.26), 0 5px 9px rgba(0, 0, 0, 0.2);

}

.formPanel form input[type=text],input[type=password]{
    margin-left:2%;
    font-size: 0.75rem;
    width: 96%;
    letter-spacing: 2px;
    padding: 10px 15px;
    background-color: transparent;
    color: black;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #0f0f0f;
}

#passwordeye{
    float: right;
    margin-right:2%;
    font-size: 0.75rem;
    cursor: pointer;
}
.registerForm label{
    font-size: 0.75rem;
    display: block;
    margin-left:2%;
    margin-top:2%;
    width: 96%;
}

.loginForm label{
    font-size: 1rem;
    display: block;
    margin-left:2%;
    margin-top:2%;
    width: 96%;
}
.formPanel form textarea{
    font-size: 0.75rem;
    width: 96%;
    margin-left:2%;
    height: 50px;
    border-bottom: 1px solid #0f0f0f;
    border-radius: 4px;
    background-color: transparent;
    resize: none;
}

.formPanel form input[type=button], input[type=submit], input[type=reset] {
    margin:2% 0 2% 0;
    background-color: #0f0f0f;
    font-size: 0.75rem;
    margin-left:35%;
    width: 30%;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
}


.footer {
    position: relative;
    background-color: black;
    margin-bottom: 0px;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.googleplay{
    width: 20%;
}